<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="assets/slide1.jpg">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">3 Reasons why you should limit Cardio during Fat-loss.</h1>
        <p class="mb-8 leading-relaxed">Cardio is seen as the ultimate way to lose fat and get toned among the masses. Find out 3 reasons why this is not only false but probably the worst fitness advice ever!.</p>
        <p class="mb-8 leading-relaxed">As of 2019, the mainstream image is that cardio is what you do to lose fat and get “toned”. Whereas, weight training is what you do to build muscle and look “bulky”. Naturally, with such a reputation in the air, most women stay away from lifting weights and stick to the treadmill, and maybe a couple of belly exercises at best.
            <br>
                        But is that even true? Is doing lots of cardio the correct way to lose fat and get in shape? </p>
                        <hr>
                        <p class="mb-8 leading-relaxed">
                            Newsflash: Not only is it total bullshit, but worse, doing only cardio to lose weight is a sure shot way to ruin your body composition and end up being skinny fat. (Someone who looks slim in clothes, but totally out of shape without them. Yeah, that’d suck.)
                        </p>
                        <hr>
                        <p class="mb-8 leading-relaxed">
                            There are big million-dollar businesses out there whose marketing strategy is solely based on the premise that, “Our HIIT workouts are specially designed to give you a toned body”. On top of that, for an average person, watching their favorite greek god/goddess celebrity endorsing these brands only strengthens the notion of cardio/HIIT being the ultimate go-to option for losing fat and getting in shape.<br>
                            Oh, what a mess. Don’t get me wrong, cardio sure has it’s place in an overall training plan and certainly offers it’s own unique set of benefits. But doing only cardio alone is perhaps the most stupid training plan for someone looking to lose fat and get in shape, which sadly is what 95% of people do.<br>
                            So, how much cardio should you do and how much is too much? Does cardio plays a pivotal role in losing fat? <br>
                            Here are 3 reasons why cardio should not be the bread and butter of your fat-loss training plan.
                        </p>
                        <h3 class="mb-8 leading-relaxed">1. Cardio does not causes fat loss by itself</h3>
                        <p class="mb-8 leading-relaxed">
                            Cardio is not what causes you to lose fat. A calorie deficit is the only thing makes your body lose fat. At the end of the day, your body only knows the energy balance that you are in. If you eat less calories than what you burn throughout the day, you will lose fat. Otherwise, you will not. <br>
                            Even if the cardio which you choose to do has a reputation of burning more fat as fuel while doing it, like fasted cardio or HIIT sessions, it does not means more fat loss overall! At the end of 24 hours, the net fat loss would still be dictated by the net calorie deficit. You see, if you burn more fat during exercise, you end up burning less fat and more carbs during the rest of the day.
                        </p>
                        <h3 class="mb-8 leading-relaxed">2. Cardio plays no role in maintaining muscle mass</h3>
                        As I have already explained before in my fat loss article, for anyone looking to get in shape, the goal should not be to lose just fat, but to lose fat while maintaining their muscle mass.
            
            You see, getting in shape basically boils down to improving your body composition, and not just reducing the number on the weighing scale.
            
            Most people trying to lose fat give too much importance to cardio and too little to lifting weights, if at all. When in reality, according to science, they should have been doing the exact opposite!
            
            In a state of calorie deficit, your body literally has to burn it’s own reserves of fat and muscle to make the ends meet. Under such a situation, you need to give your muscles a solid reason to stay. 
            
            Resistance training or weight training is the external stimulus which tells your body that it needs to keep the muscle in face of the workouts (think of it like survival adaptation).<br>
                  
            
      </div>
    </div>
  </section>