<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="assets/slide9.jpg">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">A Great Workout program depends on these 3 variables : Volume, Frequency & Intensity</h1>
        <p class="mb-8 leading-relaxed">What makes a workout program good or bad? What find out the 3 key training variables that decide how much results you get out of your training!</p>
        
<p class="mb-8 leading-relaxed">
    Designing a good workout plan that gives you optimal results is something that needs a good deal of thought. I hear ya, your local gym trainer has an impressive physique and he just recommends hitting one muscle group a day as hard as you can. It worked for him, right? Isn’t that enough?

Well, not really. Sure, training like that will give you results if you do it right. But it can also keep you out of the gym more often than it keeps you in, if you don’t know why you are doing what you are doing. <br>
Any workout plan, be it a good one or a bad one, is basically just a combination of 3 training variables – Volume, Intensity and Frequency. You can train sub-optimally and get results and be happy about it, and that’s all good. But my guess is that you want the best results out of your time and efforts. You sir, don’t wanna leave any gains on the table. Well in that case, you must understand what these training variables are, and how you can best tune them to train in the most optimal manner.

This article will equip you with all the basic understanding about the holy trinity of training variables – Volume, Intensity and Frequency (VIF).<br>
</p>
<h3 class="mb-8 leading-relaxed">
    1. Intensity
<br>
</h3>
<p class="mb-8 leading-relaxed">
    Simply put, Intensity refers to how much stimulus the weight provides your muscle fibers. You see, your muscles don’t know what weight you are lifting. At the end of the day, your muscle only understands, responds and adapts to the external stimulus it faced.
<br>
    The intensity in regards to training is further divided into two categories- Relative Intensity and Absolute Intensity.<br>
    Relative Intensity refers to your proximity to failure and is expressed in terms of the RPE/RIR scale. RIR (Reps in Reserve) is the opposite of RPE (Rate of Perceived Exertion), but both convey same fundamental meaning – “how close you went to failure”.
<br>
Example- Consider a set of bench press with a weight where you can do 10 reps at most and the 10th rep is an absolute grinder, meaning you couldn’t do the 11th. That final rep is considered to be an RPE 10 or RIR 0.
<br>
In the same set if you stopped at the 9th rep instead, knowing you still had one more rep left in the tank, then we consider that set as an RPE9/RIR1. That’s how relative intensity works. <br>

</p>
<h3 class="mb-8 leading-relaxed">
    2. Volume

</h3>
<p class="mb-8 leading-relaxed">
    Volume is the total amount of the work done. It can be defined in multiple ways.
<br>
    A common way to define volume is total work done or tonnage i.e sets x reps x weight. A big downside of defining volume in this manner is that using lighter weights and performing more reps would lead to significantly higher volume on paper but in practice, it isn’t actually true.
<br>    
    Example- Let’s say someone does 3 sets of 20 reps with 50 kgs which is 50% of their estimated 1RM at an RIR of 6 on Day 1 and 3 sets of 10 with 75 kgs(75 %) at RIR of 2 on another day. If we calculate the tonnage on Day 1, our hypothetical guy did a total tonnage of 3x20x50=3000kg while on Day 2 he did 3x10x75=2250kg of total tonnage.<br>
</p>
<h3 class="mb-8 leading-relaxed">
    3. Frequency

</h3>
<p class="mb-8 leading-relaxed">
    When it comes to training frequency most people seem to get it confused with the number of days they are training at the gym. While in reality, frequency is the number of times you hit a muscle group over a week. When someone says they employ a 2x a week frequency it means that they train each muscle group twice a week. This frequency can be achieved hitting the gym anywhere between 3-5 times a week, depending on how you structure your training.
<br>
    Frequency on itself isn’t a big driver of hypertrophy in comparison to intensity and volume but current scientific evidence suggests that training a muscle 2-3 times per week is superior to once a week [6][7][8]. This is due to the fact that increase in frequency leads to higher muscle protein synthesis and allows one to have a higher quality volume [6][9].
<br>        
    Higher Muscle Protein Synthesis (MPS) – Muscle Protein Synthesis is basically the scientific term for protein being used to repair and build back the micro-tears caused to the muscle during your workout. Yeah, No MPS No gains.
<br>    
    Studies show that given your nutrition is on point, your muscles roughly take 48 hours to recover fully [11]. Thus, MPS stays elevated for roughly 48 hours. After that, it makes sense to train the same muscle group again and make keep making more gains. 
</p>
<p class="mb-8 leading-relaxed">

</p>

</div>
    </div>
  </section>